@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(181, 174, 238);
  background: radial-gradient(
    circle,
    rgba(181, 174, 238, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
}

.scroll-test {
  position: fixed;
  top: 0;
  height: 10px;
  background-color: blueviolet;
  width: 100%;
  scale: 0 1;
  animation: scroll-color linear;
  animation-timeline: scroll();
}

@keyframes scroll-color {
  to {
    scale: 1 1;
  }
}
